/* Reset default styles */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

/* Styling for the entire waybar */
#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

/* Tooltip styling */
tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

/* Styling for specific modules */
#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;

}

#network {
    color: #f9e2af;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

